/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
    --line-height: 1.2rem;
    --border-thickness: 2px;
    --text-color: #000;
    --text-color-alt: #666;
}

body {
    font-family:
        "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        "Roboto Mono", "Segoe UI Mono", "Liberation Mono", monospace;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;
}
main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
}
h1 {
    font-size: 3.052em;
}
h2 {
    font-size: 2.441em;
}
h3 {
    font-size: 1.953em;
}
h4 {
    font-size: 1.563em;
}
h5 {
    font-size: 1.25em;
}
strong,
b {
    font-weight: 700;
}
a {
    color: var(--accent);
}
a:hover {
    color: var(--accent);
}
p {
    margin-bottom: 1em;
    line-height: 1.2;
}
.prose p {
    margin-bottom: 2em;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}

table {
    position: relative;
    top: calc(var(--line-height) / 2);
    width: calc(round(down, 100%, 1ch));
    border-collapse: collapse;
    margin: 0 0 calc(var(--line-height) * 2);
}

th,
td {
    border: var(--border-thickness) solid var(--text-color);
    padding: calc((var(--line-height) / 2))
        calc(1ch - var(--border-thickness) / 2)
        calc((var(--line-height) / 2) - (var(--border-thickness)));
    line-height: var(--line-height);
    vertical-align: top;
    text-align: left;
}
table tbody tr:first-child > * {
    padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
}

.width-min {
    width: 0%;
}
.width-auto {
    width: 100%;
}

th {
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 1.333em;
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
    body {
        font-size: 16px;
    }
    main {
        padding: 1em;
    }
    table {
        font-size: 1em;
    }
    th,
    td {
        padding: calc((var(--line-height) / 2))
            calc(0.5ch - var(--border-thickness) / 2)
            calc((var(--line-height) / 2) - (var(--border-thickness)));
    }
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
