---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<style></style>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <table>
                <thead>
                    <tr>
                        <th class="width-auto" colspan="2"
                            ><h1 style="margin: 0">ABOUT</h1>
                        </th>
                    </tr>
                </thead>
            </table>
            <p class="prose">I don't conform easily into any single box.</p>
            <p>
                The thing that drives me is that I'm curious about people
                (plural) and the media artifacts that come from our collective
                desire for meaning.
            </p>
            <p>
                I tumbled into computer science to create things, but I became
                more curious by the people who inhabit our created world.
            </p>
            <Footer />
        </main>
    </body>
</html>
