---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<style></style>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <table>
                <thead>
                    <tr>
                        <th class="width-auto" colspan="2"
                            ><h1 style="margin: 0">BLOG</h1>
                        </th>
                    </tr>
                </thead>
            </table>

            <ul>
                <li>
                    <a href="/posts/post-1">My First Blog Post</a>
                </li>
                <li>
                    <a href="/posts/post-2">My Second Blog Post</a>
                </li>
                <li>
                    <a href="/posts/post-3">My Third Blog Post</a>
                </li>
            </ul>
            <Footer />
        </main>
    </body>
</html>
