---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<style></style>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <table>
                <thead>
                    <tr>
                        <th class="width-auto" colspan="2"
                            ><h1 style="margin: 0">BLOG</h1>
                        </th>
                    </tr>
                    <tbody>
                        <tr>
                            <td><b>Occupation</b></td>
                            <td class="width-auto"
                                >Research Assistant, Vision Science @ Meta
                                (Contract)</td
                            >
                        </tr>
                        <tr>
                            <td><b>Education</b></td>
                            <td class="width-auto"
                                ><ul
                                    style="list-style-type: none; padding: 0; margin: 0"
                                >
                                    <li>
                                        MS Human-Centered Design and
                                        Engineering, UW
                                    </li>
                                    <li>BS Computer Science, Georgia Tech</li>
                                </ul></td
                            >
                        </tr>
                        <tr>
                            <td><b>Previous Affiliations</b></td>
                            <td
                                ><ul
                                    style="list-style-type: none; padding: 0; margin: 0"
                                >
                                    <li>Humana</li>
                                    <li>Duo Security</li>
                                    <li>Invisible Histories</li>
                                    <li>UW Bookstore</li>
                                    <li>Center for an Informed Public</li>
                                </ul></td
                            >
                        </tr>
                    </tbody>
                </thead>
            </table>
            <Footer />
        </main>
    </body>
</html>
