---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { execSync } from "child_process";

const version = execSync(
    'git describe --tags --always 2>/dev/null || echo "v0.1"',
)
    .toString()
    .trim();
const updated = new Date()
    .toLocaleDateString("en-US", {
        month: "numeric",
        day: "numeric",
        year: "numeric",
    })
    .replace(/\//g, "-");
---

<style></style>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <table>
                <thead>
                    <tr>
                        <th class="width-auto" colspan="2" rowspan="2"
                            ><h1 style="margin: 0">WILSON CHEN</h1>
                            <p style="margin: 0">
                                Human-Centered Researcher and Designer, Visual
                                Culture
                            </p>
                        </th>
                        <th>Ver.</th>
                        <th>{version}</th>
                    </tr>
                    <tr>
                        <th>Upd.</th>
                        <th>{updated}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="width-min"><b>Occupation</b></td>
                        <td colspan="3"
                            >Research Assistant, Vision Science @ Meta
                            (Contract)</td
                        >
                    </tr>
                    <tr>
                        <td class="width-min"><b>Education</b></td>
                        <td colspan="3"
                            ><ul
                                style="list-style-type: none; padding: 0; margin: 0"
                            >
                                <li>
                                    MS Human-Centered Design and Engineering, UW
                                </li>
                                <li>BS Computer Science, Georgia Tech</li>
                            </ul></td
                        >
                    </tr>
                    <tr>
                        <td class="width-min"><b>Previous Affiliations</b></td>
                        <td colspan="3"
                            ><ul
                                style="list-style-type: none; padding: 0; margin: 0"
                            >
                                <li>
                                    <a href="https://www.humana.com/">Humana</a>
                                </li>
                                <li>
                                    <a href="https://duo.com/">Duo Security</a>
                                </li>
                                <li>
                                    <a href="https://invisiblehistory.org/"
                                        >Invisible Histories</a
                                    >
                                </li>
                                <li>
                                    <a href="https://ubookstore.com/"
                                        >University Bookstore</a
                                    >
                                </li>
                                <li>
                                    <a href="https://www.cip.uw.edu/"
                                        >Center for an Informed Public</a
                                    >
                                </li>
                            </ul></td
                        >
                    </tr>
                </tbody>
            </table>

            <!-- Case Studies! -->
            <div>
                <h2>RESEARCH/DESIGN</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="width-min"><b>Date</b></th>
                            <th colspan="3"><b>Title</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="width-min">2025</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >DubsBooks: Reimagining the Textbook
                                    Purchasing Experience</a
                                ></td
                            >
                            <!-- <td class="tag"> Human-Centered Design </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2025</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >Prediction as Sensemaking in the 2024
                                    Election Cycle</a
                                ></td
                            >
                            <!-- <td class="tag"> Academic Research </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >Vanishing Spaces: Brand Design for An
                                    LGBTQ+ History Archive
                                </a></td
                            >
                            <!-- <td class="tag"> Branding </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >Misinformation Intervention Design for
                                    Twitter/X</a
                                ></td
                            >
                            <!-- <td class="tag"> Human-Centered Design </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td class="">
                                <a href="/case-studies/wip"
                                    >2FA Usability in Higher Education</a
                                ></td
                            >
                            <!-- <td class="tag"> Usability Testing </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >More Than Meets The Eye: Media Provenance
                                    for Digital Forensics (Presented At
                                    Stanford)</a
                                ></td
                            >
                            <!-- <td class="tag"> Academic Research </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >Media Analysis of the 2024 US-Mexico Border
                                    Crisis</a
                                ></td
                            >
                            <!-- <td class="tag"> Academic Research </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2023</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >Designing for Teambuilding and Cohesion</a
                                ></td
                            >
                            <!-- <td class="tag"> Human-Centered Design </td> -->
                        </tr>
                        <tr>
                            <td class="width-min">2022</td>
                            <td>
                                <a href="/case-studies/wip"
                                    >An Ethnographic Study on Horizon Worlds</a
                                ></td
                            >
                            <!-- <td class="tag"> Ethnography </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Projects -->
            <div>
                <h2>PROTOTYPING</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="width-min">Year</th>
                            <th class="width-auto">Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="width-min">2025</td>
                            <td>
                                <a href="/projects/wip"
                                    >LLM-Assisted Task Planning</a
                                ></td
                            >
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td>
                                <a href="/projects/wip"
                                    >Deskpet: A Deskside Pomodoro Timer</a
                                ></td
                            >
                        </tr>
                        <tr>
                            <td class="width-min">2024</td>
                            <td>
                                <a href="/projects/wip"
                                    >Memory Archive: VR Exhibition for a Local
                                    Seattle Landmark</a
                                ></td
                            >
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <Footer />
    </body>
</html>
