---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Wilson Chen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="width-min">Column 1</td>
                        <td class="width-auto">Column 2</td>
                        <td class="width-min">Column 3</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Monospace fonts are dear to many of us. Some find them more
                readable, consistent, and beautiful, than their proportional
                alternatives. Maybe we’re just brainwashed from spending years
                in terminals? Or are we hopelessly nostalgic? I’m not sure. But
                I like them, and that’s why I started experimenting with
                all-monospace Web.
            </p>
        </main>
        <Footer />
    </body>
</html>
