---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<style></style>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <table>
                <tr>
                    <th class="width-auto" rowspan="2" colspan="2"
                        ><h1 style="line-height: 1; background-color: #dddd00;">
                            WILSON CHEN
                        </h1></th
                    >
                </tr>
                <tbody>
                    <tr>
                        <td><b>Occupation</b></td>
                        <td class="width-auto"
                            >Research Assistant, Vision Science @ Meta</td
                        >
                    </tr>
                    <tr>
                        <td rowspan="2"><b>Education</b></td>
                        <td class="width-auto"
                            >MS Human-Centered Design and Engineering, UW</td
                        >
                    </tr>
                    <tr>
                        <td class="width-auto"
                            >BS Computer Science, Georgia Tech</td
                        >
                    </tr>
                </tbody>
            </table>
            <p>I think about visual media and culture.</p>
        </main>
        <Footer />
    </body>
</html>
