---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
    <nav>
        <table>
            <tr>
                <td><HeaderLink href="/">Home</HeaderLink></td>
                <td><HeaderLink href="/blog">Blog</HeaderLink></td>
                <td><HeaderLink href="/about">About</HeaderLink></td>
            </tr>
        </table>
    </nav>
</header>
<style>
    header {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 3em 1em 0;
    }
    nav table {
        margin: 0;
        width: 100%;
    }
    nav td {
        text-align: center;
        padding: calc((var(--line-height) / 2))
            calc(2ch - var(--border-thickness) / 2)
            calc((var(--line-height) / 2) - (var(--border-thickness)));
    }
</style>
